body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 50px;
}

.navbar li {
  position: relative;
  text-align: center;
  flex: 1;
}

.mainContainer {
  display: flex;
}

.section1 {
  margin-left: 40px;
  margin-right: 20px;
  padding: 20px 20px 20px 20px;
  width: 700px;
}

.section1-article1 {
  background-color: lightgray;
  padding: 20px 20px 20px 20px;
}

.section1-article1 h1 {
  font-style: italic;
}

.section1-article2 {
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.section1-article2 h1 {
  font-style: italic;
}

.footer {
  background-color: darkgray;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}
